@font-face {
    font-family: Menlo;
    src: url('../fonts/Menlo-Regular.ttf') format("truetype");
  }
  @font-face {
    font-family: Munro;
    src: url('../fonts/munro.ttf') format("truetype");
  }
  @font-face {
    font-family: Volter;
    src: url('../fonts/Volter__28Goldfish_29.ttf') format("truetype");
  }
  @font-face {
    font-family: Gohufont;
    src: url('../fonts/gohufont-uni-14.ttf') format("truetype");
  }
  @font-face {
    font-family: Pixel;
    src: url('../fonts/I-pixel-u.ttf') format("truetype");
  }
  @font-face {
    font-family: Virale;
    src: url('../fonts/virale.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "Google Sans";
    src: local("Google Sans Regular"), local("GoogleSans-Regular"), url("//fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @import url('https://fonts.googleapis.com/css?family=Exo+2:300');
  @import url('https://fonts.googleapis.com/css?family=Inconsolata');
  @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
  @import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');
  @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
  @import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
  